$navbar-color: #333;
$white-color: #fff;
$orange: #eb4947;
$welcome-color: #f8f8f8;

.header {
    background: $navbar-color;

    .navbar-custom {

        .nav-item {
            display: inline-block;
            position: relative;
            padding: 0;

            .nav-link {
                display: inline-block;
                padding: 0 15px;
                line-height: 90px;
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: $white-color;
                transition: all 0.2s;
            }

            .dropdown-menu {
                border: none;
                border-radius: 0;
                box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
                padding: 20px;

                .dropdown-item{

                    &:hover {
                        transition: all 1s;
                        background-color: $orange;
                        color: $white-color;
                    }
                }
            }

            &.active {
                .nav-link {
                    background-color: $orange;
                }
            }

            &:hover {
                transition: all 1s;
                .nav-link {
                    background-color: $orange;
                }
                .dropdown-menu {
                    display: block;
                }
            }
        }

        .navbar-toggler {
            outline: none;

            .icon-custom {
                color: $white-color;

            }
        }

    }
}

.welcome {
    padding-top: 150px;
    padding-bottom: 50px;
    background-color: $welcome-color;
    h3{
        text-transform: uppercase;
        .welcome-name {
            color: $orange;
        }
    }
    .welcome-item {
        .welcome-icon-wrapper {
            .welcome-icon {
                font-size: 90px;
                color: $navbar-color;
                
            }
        }
        .weclome-item-title-wrapper{
            .weclome-item-title{
                font-size: 14px;
                line-height: 14px;
                color: $orange;
            }
        }
        .welcome-item-text {
            p{
                font-size: 13px;
            }
        }
        &:hover {
            .welcome-icon{
                color: $orange;
            }
        }
    }
    
}

.work {
    background-color: $welcome-color;
    h3 {
        text-transform: uppercase;
    }
    .category-item {
        .img-size {
            position: relative;
            width: 100%;
        }
        .img-wrapper{
            .denumire, .categorie {
                color: $white-color;
                font-size: 20px;
                display: none;
            }
        }
        &:hover {
            .img-wrapper {
                top: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: rgba(235,73,71,0.5);
                transition: all 0.5s ease;
            }
            .denumire {
                top:20px;
                position: absolute;
                display: block;
            }
            .categorie {
                top: 50px;
                position: absolute;
                display: block;
            }
        }
        
    }
    
}